<div class="h-100 d-flex justify-content-md-center align-items-center">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Icon -->
            <div class="fadeIn first">
                <h2><strong>Icon</strong></h2>
                <!-- <img src="" id="icon" alt="User Icon" /> -->
            </div>
            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="User">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Log In">
                <input type="button" class="fadeIn fourth" routerLink="/register" value="Register">
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>